#text-container {
    width: 99%;
    min-height: 100vh; /* Minimum height to ensure visibility */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center the content */
    font-family: 'Times New Roman', Times, serif;
    font-size: clamp(3.125rem, 3.464vw + 2.229rem, 5rem);
    line-height: clamp(4.688rem, 3.349vw + 3.821rem, 6.5rem);
    padding: 0 1%; /* Add padding of 10% to the left and right */
    white-space: pre-line;
}

#donation-button {
    background: transparent;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: flex;
    font-size: 16px;
    padding: 8px 24px;
    border-radius: 5px;
    gap: 8px;
    width: fit-content;
    line-height: 24px;
    transition-duration: 0.4s;
    margin-bottom: 10px;
}

#donation-button:hover {
    box-shadow: 0px 0px 10px white;
    color: white;
}

#donation-button-div {
    opacity: 0;
    transition-duration: 1s;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: end;
    justify-content: center;
}

#small {
    font-size: clamp(1.5625rem, 1.732vw + 1.1145rem, 2.5rem);
    line-height: clamp(2.344rem, 1.6745vw + 1.9105rem, 3.25rem);
}
